{% extends 'base.pages.html.twig' %}
{% block title %} Erreur 405 {% endblock %}
{% block page %}{% endblock page %}
{% block content %}
<!-- SECOND SECTION START -->
<section class="second">
    <div class="container d-flex justify-content-center align-items-center py-5">
        <img src="{{asset('front/images/errors/405.png')}}" alt="erreur 405" width="50%">
    </div>
</section>
<!-- SECOND SECTION END -->

{% endblock %}


{% block part %}{% endblock part %}