{% extends 'base.pages.html.twig' %}
{% block page %}{% endblock page %}
{% block content %}
    <!-- Basic Tables start -->
        <section class="section container my-3 ">
            <h3 class="mt-3">
                Liste des mes articles
            </h3>
            <div class="card">
                <div class="card-header">
                    Sujets
                </div>
                <div class="card-body">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Date de creation</th>
                                <th>Reponses</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for su in sujets %}
                            <tr>
                                <td>{{su.contenu}}</td>
                                <td>{{su.createdAt|format_datetime(locale='fr', dateFormat = 'medium' ,  timeFormat = 'none')}}</td>
                                <td>{{su.commentaires|length}} Réponses</td>
                                <td>
                                    <a class="btn-btn-outline-primary btn-sm" href="#">Aperçu</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    <!-- Basic Tables end -->
{% endblock content %}


{% block part %}{% endblock part %}